// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #3705bf !default;

// Text colours
$headingColour: #3761b1 !default;
$bodyColour: #2a27be !default;
$linkColour: #687ab6 !default;
$hoverColour: #2c3b94 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family:  '"Gotham A","Gotham B",sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Gotham A","Gotham B",sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// Font import, if you're using a non-standard web font
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
